.advantages {
  width: $mobile-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: 37px;
  padding-left: 13px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    width: 770px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 1920px;
    padding: 0;
    padding-top: 113px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages__item {
  position: relative;

  width: 290px;
  margin-bottom: 20px;
  padding-top: 71px;
  padding-bottom: 23px;
  padding-left: 27px;

  background-color: $white;
  border: 1px solid $light-gray;
  border-left: 2px solid $blue;

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 26px;

    width: 35px;
    height: 36px;

    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 345px;
    padding-top: 65px;
    padding-bottom: 20px;
    padding-left: 25px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-bottom: 0;
    padding-top: 94px;
    padding-left: 42px;

    &::before {
      top: 40px;
      left: 45px;
    }
  }
}

.advantages__item:last-of-type {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 10px;

  font-family: $alternate-font;
  color: $blue;
  font-size: $font-size-m;
  line-height: em(28px, $font-size-m);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: $font-size-l;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.advantages__item p {
  width: 251px;
  margin: 0;

  color: #666666;
  font-size: $font-size;
  line-height: em(22px, $font-size);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 297px;
  }

  @media (min-width: $desktop-width) {
    width: 482px;
    padding-bottom: 64px;
  }
}

.advantages__item--stopwatch p {
  width: 245px;

  @media (min-width: $tablet-width) {
    width: 297px;
  }

  @media (min-width: $desktop-width) {
    width: 482px;
  }
}

.advantages__item--detective {
  padding-top: 65px;
  padding-bottom: 50px;

  @media (min-width: $desktop-width) {
    padding-top: 95px;
  }
}

.advantages__item--detective h3 {
  width: 245px;
  margin-bottom: -8px;

  @media (min-width: $tablet-width) {
    width: 297px;
    margin-bottom: 14px;
  }
}

.advantages__item--tag p {
  width: 249px;

  @media (min-width: $tablet-width) {
    width: 296px;
  }

  @media (min-width: $desktop-width) {
    width: 482px;
  }
}

.advantages__item--stopwatch::before {
  background-image: url("../img/icon-stopwatch.svg");
}

.advantages__item--hired::before {
  background-image: url("../img/icon-hired.svg");
}

.advantages__item--detective::before {
  background-image: url("../img/icon-detective.svg");
}

.advantages__item--tag::before {
  background-image: url("../img/icon-tag.svg");
}
