//Размер шрифта;
$font-size-sm: 14px;
$font-size: 16px;
$font-size-m: 20px;
$font-size-md: 22px;
$font-size-l: 24px;
$font-size-xl: 28px;
$font-size-xxl: 36px;
$font-size-xxxl: 40px;
$font-size-xxxxl: 80px;


//Написание шрифта;
$main-font: "PT Mono", sans-serif;

//Цвет фоновый;
$dark-blue: #0b4ae9;
$darken-blue: #0b44d8;
$dark-gray: #1b2d37;
$light-gray: #ebebeb;

//Цвет шрифта;
$gray: #666666;
$white: #ffffff;
$blue: #00b2ff;

//Размеры для устройств;
$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1300px;
